.App {
    font-family: sans-serif;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    background: black;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1);
    opacity: 1;
}

.box--hide {
    opacity: 0;
    transform: scale(0);
}